<aside class="sidebar">

    <h3>Menú</h3>

    <nav>

        <a routerLink="/home">
            Inicio
        </a>

        <a routerLink="/explorar">
            Explorar
        </a>

        <a routerLink="/reservas">
            Reservas
        </a>

        <a routerLink="/multas">
            Multas
        </a>

        <a routerLink="/perfil">
            Perfil
        </a>

    </nav>

    <button type="button" (click)="cerrarSesion()">
        Cerrar sesión
    </button>

</aside>